@import 'shared.scss';

.checkoutContainer{
    @include main-container-padding;
    display: flex;
    background-color: white;
    padding-top: 50px;
    .mainInfo{
        flex-basis: 65%;
        flex-grow: 0;
        
    }
    .asideInfo{
        flex-basis: 30%;
        flex-grow: 0;
        margin-left: auto;
        .bookingSummary, .charges{
            border: 1px solid $secondary-color;
            padding: 20px;
            margin-bottom: 20px;
        }
    }
}