.checkoutContainer{
    display: flex;
    .mainInfo{
        flex-basis: 70%;
        flex-grow: 0;
    }
    .asideInfo{
        flex-basis: 30%;
        flex-grow: 0;
        .bookingSummary, .charges{
            border: 1px solid grey;
            padding: 20px;
            h3{
                margin: 0;
            }
            .chargeDetail, .chargeTotal{
                display: flex;
                padding: 10px 0;
                &:last-of-type{
                    border-top: 1px solid grey;
                }
                p{
                    margin: 0;
                    &.chargeAmount{
                        margin-left: auto;
                        align-self: center;
                    }
                }
            }
        }
    }
}