@import 'shared.scss';

.resultsHeader{
    background-image: url('./images/big-ben-bridge-castle-city-460672_1500x800.jpg');
    height: 20vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    .darkenBackground{
        height: 20vh;
        
    }
}

.resultsContainer{
    display: flex;
    background-color: lightgrey;
    min-height: 50vh;
    padding-bottom: 20px;
    @media(max-width: $medium-break){
        flex-direction: column-reverse;
        @include main-container-padding;
    }
    .filters, .advertisements{
        flex-basis: 15%;
        flex-grow: 0;
        padding: 20px;
        margin: 20px;
    }
    .advertisements{
        background-color: white;
    }
    .results{
        flex-basis: 70%;
        flex-grow: 0;
    }
    .showMoreButton{
        @include main-contrastive-button;
        display: block;
        text-align: center;
        text-decoration: none;
    }
}