//font
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic");
$main-font: 'Roboto', sans-serif;

//font-size
$very-small-font-size: 12px;
$small-font-size: 14px;
$medium-font-size: 16px;
$big-font-size: 28px;
$very-big-font-size: 36px;

//screen breaks
$medium-break: 800px;
$footer-break: 650px;
$small-break: 500px;

//color
$main-color: #faf7f0;
$secondary-color: #808080;
$mobile-menu-color: #3d3d3d;
$contrastive-color: #fc5a03;

//input borders:
$input-border-radius: 5px;

//containers
@mixin main-container{
    margin: 0 100px;
    @media (max-width: $medium-break){
        margin: 0 20px;
    }
}
@mixin main-container-padding{
    padding: 0 100px;
    @media (max-width: $medium-break){
        padding: 0 20px;
    }
}

//hovers
@mixin main-hover{
    color: $secondary-color;
}

//buttons
@mixin main-contrastive-button{
    background-color: $contrastive-color;
    border: none;
    color: $main-color;
    padding: 10px 20px;
    font-size: $small-font-size;
}

body{
    box-sizing: border-box;
    margin: 0;
    font-family: $main-font;
    font-size: $medium-font-size;
    height: 100%;
    background-color: black;
    #root{
        height: 100%;
    }
}

//div in position absolute to darken background images
.darkenBackground{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

//footer elements
.copyright{
    font-size: $very-small-font-size;
    @media(max-width: $small-break){
        text-align: center;
    }
    .pageCreator{
        color: $secondary-color;
    }
}
.socialMedia{
    @media(max-width:$small-break){
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    a{
        margin-left: 20px;
        color: $main-color;
        @media(max-width: $small-break){
            margin-left: 0;
        }
        &:hover{
            color: $secondary-color;
        }
    }
}

//hide or show an element
.show{
    display: block;
}
.hide{
    display: none;
}