//font
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic");
$main-font: 'Roboto', sans-serif;

//font-size
$small-font-size: 12px;
$medium-font-size: 14px;
$big-font-size: 28px;

//screen breaks
$medium-break: 800px;
$small-break: 500px;

//color
$main-color: #faf7f0;
$secondary-color: #808080;
$mobile-menu-color: #3d3d3d;
$contrastive-color: #fc5a03;

//containers
@mixin main-container{
    margin: 0 100px;
    @media (max-width: $medium-break){
        margin: 0 20px;
    }
}

@mixin main-hover{
    color: $secondary-color;
}

body{
    box-sizing: border-box;
    position: relative;
    margin: 0;
    font-family: $main-font;
    background-image: url('./images/plate-flight-sky-sunset_1500x801.jpeg');
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;
    .darkenBackground{
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0,0,0,0.5);
        z-index: -1;
        top: 0;
        left: 0;
    }
    #root{
        height: 100%;
    }
}