//font
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&amp;subset=cyrillic");
$main-font: 'Roboto', sans-serif;

//font-size
$very-small-font-size: 12px;
$small-font-size: 14px;
$medium-font-size: 16px;
$big-font-size: 28px;
$very-big-font-size: 36px;

//screen breaks
$medium-break: 800px;
$small-break: 500px;

//color
$main-color: #faf7f0;
$secondary-color: #808080;
$mobile-menu-color: #3d3d3d;
$contrastive-color: #fc5a03;

//containers
@mixin main-container{
    margin: 0 100px;
    @media (max-width: $medium-break){
        margin: 0 20px;
    }
}

@mixin main-hover{
    color: $secondary-color;
}

body{
    box-sizing: border-box;
    margin: 0;
    font-family: $main-font;
    #root{
        height: 100%;
    }
}

//div in position absolute to darken background images
.darkenBackground{
    position: absolute;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    top: 0;
    left: 0;
    z-index: 1;
}

//hide or show an element
.show{
    display: block;
}
.hide{
    display: none;
}