@import '../shared.scss';

.chosenFlight{
    display: flex;
    .chosenFlightDetails{
        flex-basis: 70%;
        flex-grow: 0;
        .chosenFlightCities{
            font-size: $big-font-size;
            font-weight: normal;
            margin-top: 0;
        }
    }
    .chosenFlightAirline{
        flex-basis: 20%;
        flex-grow: 0;
        margin-left: auto;
        img{
            width: 100%;
        }
    }
}

.flightDetailsBtn{
    display: block;
    padding-bottom: 10px;
    border-bottom: 1px solid grey;
}