@import '../shared.scss';

.contactNavContainer{
    display: flex;
    @media(max-width: $small-break){
        display: block;
    }
    ul{
        padding:0;
        margin: 0;
        font-size: $medium-font-size;
        @media(max-width:$small-break){
            width: 100%;
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 20px;
        }
        a{
            text-decoration: none;
        }
        &.footerNav{
            flex-wrap: wrap;
            li{
                display: inline;
                a{
                margin-right: 20px;
                color: $main-color;
                @media(max-width:$small-break){
                    margin: 10px;
                }
                &:hover{
                    color: $secondary-color;
                }
            }
            }
            
        }
        &.socialMedia{
            margin-left: auto;
            @media(max-width: $small-break){
                max-width: 100px;
                margin: auto;
            }
        }
    }
}

