@import '../shared.scss';

.navContainer{
    @include main-container;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $main-color;
    height: 12vh;
   .pageTitle{
        margin: auto 15px;
        margin: 0;
        align-self: center;
        .pageTitleContent{
            color: $main-color;
            text-decoration: none;
            font-weight: normal;
        }
    }
    ul{
        list-style: none;
        align-self: center;
        padding: 0;
        &.optionsNav{
            margin-left: auto;
        }
        li{
            display: inline;
            margin-left: 10px;
            a{ 
               text-decoration: none;
               color: $secondary-color;
               font-size: $small-font-size;
               &:hover{
                   color: $main-color;
               }
            }  
        }
    } 
}

