@import '../shared.scss';

.navContainer{
    @include main-container;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid $main-color;
    height: 12vh;
    @media(max-width: $small-break){
        background-color: $mobile-menu-color;
        margin: 0;
        padding: 0 20px;
        position: relative;
        border-bottom: none;
    }
   .pageTitle{
        margin: auto 15px;
        margin: 0;
        align-self: center;
        z-index: 999;
        .pageTitleContent{
            color: $main-color;
            text-decoration: none;
            font-weight: normal;
        }
    }
    .menuIcon{
        margin-left: auto;
        align-self: center;
        color: $main-color;
        font-size: $big-font-size;
    }
    .dropdown{
        display: flex;
        width: 100%;
        z-index: 999;
        @media (max-width: $small-break){
            position: absolute;
            background-color: $mobile-menu-color;
            top: 12vh;
            left: 0;
            &.show{
                display: block;
            }
            &.hide{
                display: none;
            }
        }
        ul{
        list-style: none;
        align-self: center;
        padding: 0;
        margin: 0;
        &.optionsNav{
            margin-left: auto;
        }
            li{
                display: inline;
                margin-left: 10px;
                @media (max-width: $small-break){
                    display: block;
                    border-top: 1px solid $secondary-color;
                    padding: 20px 0;
                    margin: 0 20px;
                    font-size: $medium-font-size;
                }
                    a{ 
                    text-decoration: none;
                    color: $secondary-color;
                    font-size: $small-font-size;
                    &:hover{
                        color: $main-color;
                    }
                }  
            }
        } 
    }
}



