ul{
    list-style: none;
    padding: 0;
}

.itemContainer{
    display: flex;
    background-color: white;
    margin: 20px 0;
    .itemDataContainer{
        flex-basis: 75%;
        flex-grow: 0;
        .itemData{
            border-bottom: 1px dotted lightgrey;
            &:last-child{
                border-bottom: none;
            }
            .itemDetails{
                display: flex;
                .airline{
                flex-basis: 20%;
                flex-grow: 0;
                    img{
                        max-width: 60px;
                    }
                }
                .fromData, .toData{
                    flex-basis: 20%;
                    flex-grow: 0;
                    padding: 10px;
                }
                .segmentsData{
                    flex-basis: 40%;
                    flex-grow: 0;
                    padding: 10px;
                    .duration{
                        text-align: center;
                    }
                    .segmentsDots{
                        display: flex;
                        justify-content: space-between;
                        padding: 10px;
                    }
                    .segmentsList{
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    .booking{
        flex-basis: 25%;
        flex-grow: 0;
        text-align: center;
    }
}