@import '../shared.scss';

.sellingPointsContainer{
    display: flex;
    justify-content: space-between;
    @media(max-width: $small-break){
        flex-direction: column;
        margin: 20px;
    }
    .sellingPoint{
        flex-basis: 20%;
        flex-grow: 0;
        .pointTitle{
            font-weight: normal;
        }
        .pointDescription{
            color: $secondary-color;
            text-align: justify;
            font-size: $small-font-size;
        }
    }
}

