.sellingPointsContainer{
    //margin: 50px 0;
    display: flex;
    justify-content: space-between;
    .sellingPoint{
        flex-basis: 20%;
        flex-grow: 0;
        p{
            text-justify: justify;
        }
    }
}