@import '../shared.scss';

.sellingPointsContainer{
    //margin: 50px 0;
    display: flex;
    justify-content: space-between;
    .sellingPoint{
        flex-basis: 20%;
        flex-grow: 0;
        .pointTitle{
            font-weight: normal;
        }
        .pointDescription{
            color: $secondary-color;
            text-align: justify;
            font-size: $small-font-size;
        }
    }
}

